<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  A goal-oriented Computer Science Engineering undergraduate with strong problem-solving and leadership skills. 
  Proficient in C++, Data Structures & Algorithms (DSA), and full-stack development using ReactJS, NodeJS, MongoDB, and
   Angular. Passionate about UI/UX design and building scalable, high-quality web applications while staying updated with 
   emerging technologies..</p>
  <%- include("partials/footer.ejs") %>