<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>
    A goal-oriented Computer Science Engineering undergraduate with strong problem-solving and leadership skills. Proficient 
    in developing scalable and responsive web applications using ReactJS, NodeJS, MongoDB, and Angular. Passionate about UI/UX 
    design and delivering high-quality solutions while staying updated with emerging technologies.
  </p>
  <p>
    A well-organized, creative, and goal-oriented Computer Science Engineering undergraduate, equipped with strong 
    problem-solving, communication, and leadership skills. Adept at developing efficient, high-quality web applications 
    with a keen eye for UI/UX design and user experience. Skilled in working with modern frontend and backend technologies 
    such as ReactJS, NodeJS, MongoDB, and Angular, with a passion for exploring innovative solutions and contributing to 
    impactful projects. Demonstrated ability to translate complex requirements into responsive and scalable applications. 
    Enthusiastic about continuous learning and staying up-to-date with emerging technologies to drive excellence in software 
    development.</p>

  <%- include("partials/footer.ejs") %>